{% load static %}
<div class="card mb-3 shadow-sm border-0 bg-white">
  <div class="card-body">
    <div class="row flex-nowrap">

      <div class="col-auto text-center pe-2 pe-md-3">
        <img src="{% static 'img/default_avatar.jpg' %}" alt="Avatar" width="60" height="60"
          class="border mb-3 object-fit-cover rounded">
        <div>
          <div class="d-inline-flex border border-success rounded-1 overflow-hidden mb-3">
            <div class="px-2 d-flex align-items-center fw-bold fs-5 text-success">12</div>
            <div class="d-flex flex-column border-start border-success px-1 py-1">
              <a href="#" class="text-success text-decoration-none lh-1">&#9650;</a>
              <a href="#" class="text-secondary text-decoration-none lh-1">&#9660;</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col overflow-hidden d-flex flex-column">
        <p class="card-text mb-3">{{ answer.text }}</p>

        <div class="mt-auto align-self-end d-flex align-items-center gap-3 small flex-wrap">
          <a href="#" class="text-secondary text-decoration-none fw-bold" title="Mark as correct answer">&#10003; Mark
            as Accepted</a>

          <div class="text-muted">
            answered 1 hour ago by <a href="#" class="text-decoration-none fw-bold text-dark">Bender</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
