{% if page_obj.paginator.num_pages > 1 %}
<nav aria-label="Page navigation" class="mt-4 mb-5">
    <ul class="pagination">

        {% if page_obj.has_previous %}
        <li class="page-item"><a href="?page=1" class="page-link rounded-0 border-dark text-dark fw-bold">«</a></li>
        {% endif %}

        {% for p in page_obj.custom_page_range %}
        {% if p == page_obj.paginator.ELLIPSIS %}
        <li class="page-item disabled"><span
                class="page-link rounded-0 border-dark bg-dark text-white fw-bold">...</span>
        </li>
        {% elif p == page_obj.number %}
        <li class="page-item active" aria-current="page"><span
                class="page-link rounded-0 border-dark bg-dark text-white fw-bold">{{ p }}</span>
        </li>
        {% else %}
        <li class="page-item"><a href="?page={{ p }}" class="page-link rounded-0 border-dark text-dark fw-bold">{{ p }}</a>
        </li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}"
                class="page-link rounded-0 border-dark text-dark fw-bold">»</a></li>
        {% endif %}

    </ul>
</nav>
{% endif %}
