{% load static %}
{% load i18n %}
<div class="card mb-3 shadow-sm border-0 bg-white">
    <div class="card-body">
        <div class="row flex-nowrap">

            <div class="col-auto text-center pe-2 pe-md-3">
                <img src="{{ question.author.profile.get_avatar }}" alt="Avatar" width="50" height="50"
                    class="border mb-2 object-fit-cover rounded">
                <div>
                    <div class="d-inline-flex border border-secondary rounded-1 overflow-hidden">
                        <div class="px-2 d-flex align-items-center fw-bold fs-5 text-secondary">{{ question.rating|default:"0" }}</div>
                        <div class="d-flex flex-column border-start border-secondary px-1 py-1">

                            {% if user.is_authenticated %}
                                <a href="#" class="text-secondary text-decoration-none lh-1" title="Like">&#9650;</a>
                                <a href="#" class="text-secondary text-decoration-none lh-1" title="Dislike">&#9660;</a>
                            {% else %}
                                <span class="text-secondary lh-1 opacity-50" title="Войдите, чтобы оценить" style="cursor: not-allowed;">&#9650;</span>
                                <span class="text-secondary lh-1 opacity-50" title="Войдите, чтобы оценить" style="cursor: not-allowed;">&#9660;</span>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>

            <div class="col overflow-hidden">
                <h5 class="card-title mb-2 text-truncate"><a href="{% url 'question' question.id %}"
                        class="text-decoration-none fw-bold text-dark">{{ question.title }}</a></h5>
                <p class="card-text text-secondary mb-3 text-truncate-2">
                    {{ question.text }}
                </p>
                <div class="d-flex align-items-center gap-2 flex-wrap">
                    <a href="{% url 'question' question.id %}" class="text-decoration-none fw-bold">answers ({{ question.answers_count }})</a>
                    <span class="text-muted ms-2">Tags:</span>

                    {% for tag in question.tags.all %}
                    <a href="{% url 'tag' tag.name %}"
                        class="badge bg-light text-primary border text-decoration-none">{{ tag.name }}</a>
                    {% endfor %}
                </div>

                <div class="small text-muted text-end mt-1">
                    asked {% language 'en' %}{{ question.created_at|timesince }}{% endlanguage %} ago by <span class="fw-bold text-dark">{{ question.author.profile.nickname|default:question.author.username }}</span>
                </div>
            </div>

        </div>
    </div>
</div>
