{% extends "core/base.html" %}
{% load static %}

{% block title %}Ask a Question - Nice Answer{% endblock %}

{% block content %}
<div class="row">
    <div class="col-12">

        <h2 class="fw-bold mb-4">Ask a Question</h2>

        <form method="POST" action="{% url 'ask' %}">
            {% csrf_token %}

            {% if form.errors %}
            <div class="alert alert-danger mb-4" role="alert">
                Please check the accuracy of the entered data.
                {% if form.non_field_errors %}
                    <br>
                    {% for error in form.non_field_errors %}
                        <small>{{ error }}</small><br>
                    {% endfor %}
                {% endif %}
            </div>
            {% endif %}

            <div class="mb-4">
                <label for="{{ form.title.id_for_label }}" class="form-label fw-bold">Title</label>
                <input type="text" name="{{ form.title.name }}" class="form-control {% if form.title.errors %}is-invalid{% endif %}" id="{{ form.title.id_for_label }}"
                    placeholder="e.g. How to build a moon park?" value="{{ form.title.value|default_if_none:'' }}" maxlength="150">

                {% if form.title.errors %}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="form-text">
                    Briefly and clearly describe the essence of your problem (up to 150 characters).
                </div>
            </div>

            <div class="mb-4">
                <label for="{{ form.text.id_for_label }}" class="form-label fw-bold">Text</label>
                <textarea name="{{ form.text.name }}" class="form-control {% if form.text.errors %}is-invalid{% endif %}" id="{{ form.text.id_for_label }}" rows="10"
                    placeholder="Explain your problem in detail">{{ form.text.value|default_if_none:'' }}</textarea>

                {% if form.text.errors %}
                <div class="invalid-feedback">
                    {% for error in form.text.errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="form-text">
                    Include all the information that someone would need in order to answer your question.
                </div>
            </div>

            <div class="mb-4">
                <label for="{{ form.tags_input.id_for_label }}" class="form-label fw-bold">Tags</label>
                <input type="text" name="{{ form.tags_input.name }}" class="form-control {% if form.tags_input.errors %}is-invalid{% endif %}" id="{{ form.tags_input.id_for_label }}" placeholder="e.g. black-jack, bender" value="{{ form.tags_input.value|default_if_none:'' }}">

                {% if form.tags_input.errors %}
                <div class="invalid-feedback">
                    {% for error in form.tags_input.errors %}
                        {{ error }}<br>
                    {% endfor %}
                </div>
                {% endif %}

                <div class="form-text">
                    Add up to 3 tags to describe your question. Separate the tags with spaces or commas.
                </div>
            </div>

            <div class="mt-5 mb-5">
                <button type="submit" class="btn btn-success fw-bold px-4 py-2">Publish Question</button>
            </div>
        </form>

    </div>
</div>
{% endblock %}
