{% extends "core/base.html" %}
{% load static %}

{% block title %}
    {% if tag_name %}
        Tag: {{ tag_name }}
    {% elif request.resolver_match.url_name == 'hot' %}
        Hot Questions
    {% else %}
        New Questions
    {% endif %} - Nice Answer
{% endblock %}

{% block content %}
<div class="d-flex align-items-baseline gap-3">
    <h2 class="fw-bold">
        {% if tag_name %}
            Tag: {{ tag_name }}
        {% elif request.resolver_match.url_name == 'hot' %}
            Hot Questions
        {% else %}
            New Questions
        {% endif %}
    </h2>

    {% if request.resolver_match.url_name == 'hot' %}
        <a href="{% url 'index' %}" class="text-decoration-none">New Questions</a>
    {% else %}
        <a href="{% url 'hot' %}" class="text-decoration-none">Hot Questions</a>
    {% endif %}
</div>

<div class="questions-list">
    {% for question in questions %}
        {% include "questions/components/question_card.html" %}
    {% empty %}
        <div class="alert alert-light text-center py-5 border shadow-sm" role="alert">
            <h3 class="text-muted mb-3">Пока что здесь тихо 🤫</h3>
            <p class="text-muted mb-4">В этой категории еще нет вопросов. Будьте первым, кто его задаст!</p>

            <a href="{% url 'ask' %}" class="btn btn-primary btn-lg px-4 shadow-sm">
                Задать вопрос
            </a>
        </div>
    {% endfor %}
</div>

{% include "questions/components/pagination.html" %}

{% endblock %}

{% block scripts %}
    <script src="{% static 'questions/js/votes.js' %}"></script>
{% endblock %}
