<aside class="col-lg-4 col-md-12 mb-4 ps-lg-5">

  <div class="mb-4">
    <h4 class="fw-bold mb-3">Popular Tags</h4>
    <div class="d-flex flex-wrap gap-2 align-items-center">
      <a href="#" class="text-decoration-none text-dark">perl</a>
      <a href="#" class="text-decoration-none text-danger fw-bold fs-5">python</a>
      <a href="#" class="text-decoration-none text-dark">TechnoPark</a>
      <a href="#" class="text-decoration-none text-danger fw-bold fs-5">MySQL</a>
      <a href="#" class="text-decoration-none text-success fw-bold">django</a>
      <a href="#" class="text-decoration-none text-dark">Mail.Ru</a>
      <a href="#" class="text-decoration-none text-dark">Voloshin</a>
      <a href="#" class="text-decoration-none text-warning">Firefox</a>
    </div>
  </div>

  <div>
    <h4 class="fw-bold mb-3">Best Members</h4>
    <ul class="list-unstyled">
      <li class="mb-2"><a href="#" class="text-decoration-none">Mr. Freeman</a></li>
      <li class="mb-2"><a href="#" class="text-decoration-none">Dr. House</a></li>
      <li class="mb-2"><a href="#" class="text-decoration-none">Bender</a></li>
      <li class="mb-2"><a href="#" class="text-decoration-none">Queen Victoria</a></li>
      <li><a href="#" class="text-decoration-none">V. Pupkin</a></li>
    </ul>
  </div>

</aside>
